*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:100vh;
    background:#eef3f3;
    font-family:Arial;
}

/* Share Wrapper */
.share-wrapper{

    position:fixed;

    left:25px;
    bottom:25px;

    z-index:1000;
}

/* Share Button */
.share-btn{

    width:75px;
    height:75px;

    border:none;
    border-radius:50%;

    background:rgba(255,255,255,0.3);

    backdrop-filter:blur(15px);

    box-shadow:0 6px 20px rgba(0,0,0,0.15);

    cursor:pointer;

    transition:0.3s;
}

/* Share Icon */
.share-btn i{

    font-size:30px;
    color:#333;
}

/* Share Hover */
.share-btn:hover{

    transform:scale(1.08);
}

/* Social Icons */
.social-icons{

    position:absolute;

    bottom:95px;
    left:7px;

    display:flex;
    flex-direction:column;

    gap:15px;

    opacity:0;
    visibility:hidden;

    transform:translateY(20px);

    transition:0.4s ease;
}

/* Show Icons */
.social-icons.show{

    opacity:1;
    visibility:visible;

    transform:translateY(0);
}

/* Social Buttons */
.social-icons a{

    width:60px;
    height:60px;

    border-radius:50%;

    background:rgba(255,255,255,0.35);

    backdrop-filter:blur(15px);

    display:flex;
    justify-content:center;
    align-items:center;

    text-decoration:none;

    box-shadow:0 5px 15px rgba(0,0,0,0.12);

    transition:0.3s;
}

/* Hover Animation */
.social-icons a:hover{

    transform:translateY(-8px) scale(1.1);
}

/* Icon Size */
.social-icons i{

    font-size:28px;
}

/* Instagram */
.fa-instagram{
    color:#E1306C;
}

/* WhatsApp */
.fa-whatsapp{
    color:#25D366;
}

/* Facebook */
.fa-facebook-f{
    color:#1877F2;
}